\env
Week - 1 - Introduction to Linear Algebra and Derivatives for Deep Learning/
Week - 2 - Image Classification with Linear Classifiers/
Week - 3 - Getting Started with Deep Learning and Neural Network/